<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ischoolbar.programmer.dao.admin.LeaveMsgDao">
	<!-- 添加评论-->
	<insert id="add" parameterType="LeaveMsg">
		insert into leave_msg(id,name,tel,content,createTime) values(null,#{name},#{tel},#{content},#{createTime})
	</insert>
	<!-- 修改评论-->
	<update id="edit" parameterType="LeaveMsg">
		update leave_msg set name = #{name}, tel = #{tel},content = #{content} where id = #{id}
	</update>
	<!-- 批量删除评论-->
	<delete id="delete" parameterType="String">
		delete from leave_msg where id in(${value}) 
	</delete>
	<!-- 分页获取评论列表 -->
	<select id="findList" parameterType="Map" resultType="com.ischoolbar.programmer.entity.admin.LeaveMsg">
		select * from leave_msg where 1=1 
		<if test="name != null">
			and name like '%${name}%' 
		</if>
		<if test="tel != null">
			and tel = #{tel}  
		</if>
		<if test="content != null">
			and content like '%${content}%' 
		</if>
		order by createTime desc 
		<if test="offset != null and pageSize != null">
			limit #{offset},#{pageSize}
		</if>
	</select>
	<!-- 获取所有分类列表 -->
	<select id="findAll" parameterType="Map" resultType="com.ischoolbar.programmer.entity.admin.LeaveMsg">
		select * from comment order by createTime desc 
	</select>
	<!-- 获取符合结果的总记录数 -->
	<select id="getTotal" parameterType="Map" resultType="Integer">
		select count(*) from leave_msg where 1 = 1 
		<if test="name != null">
			and name like '%${name}%' 
		</if>
		<if test="tel != null">
			and tel = #{tel}  
		</if>
		<if test="content != null">
			and content like '%${content}%' 
		</if>
	</select>
</mapper>